<%- include('../includes/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/product-card.css">
    <%- include('../includes/navigation.ejs') %>
    <style>
                /* Responsive columns - one column layout (vertical) on small screens */
                @media screen and (max-width: 100%) {
                .column {
                    width: 600px;
                    display: block;
                    margin-bottom: 20px;
                }
            }
    </style>
        <div class="container mt-3">
            <h2>Products</h2>
            <p>Type product name to search for products:</p>
            <div class="row">
                <div class="col-md-12">
                    <form class="form-inline" action="/search" method="GET">
                        <input class="form-control col-md-6" type="search" placeholder="Search" aria-label="Search" name="search_item" value="<%= search_item %>">
                        <label style="margin-left:10px;" for="type">Type</label>
                        
                        <select class="form-control col-md-3" style="margin-left:10px;" id="type" name="type">
                            <option value="all" selected>ALL-TYPES</option>
                            <% if (prod_types.length > 0) { %>
                                <% for(var i=0; i < prod_types.length; i++) { %>
                                    <% if (prod_types[i]._id.equals(type)) { %>
                                        <option value="<%= prod_types[i]._id %>" selected><%= prod_types[i].type_name %></option>
                                    <% }else{ %> 
                                        <option value="<%= prod_types[i]._id %>"><%= prod_types[i].type_name %></option>
                                    <% } %>
                                <% } %>
                            <% } %>
                        </select>
                        <button class="btn btn-success col-md-2" style="margin-left:20px;" type="submit"><span style="float: left;"><i class="fa fa-search" ></i></span>Search</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="row">
            <% if (prods.length > 0) { %>

                <% prods.map((product, t) => { %>
                    <div class="column">
                        <div class="card">
                            <a href="<%- '/details/'+product._id%>" style="text-decoration:none;">
                            <img src="<%- product.image %>" alt="ProductImage" onerror="this.src='https://lightwidget.com/wp-content/uploads/local-file-not-found.png';" style="width:100%">
                            <h5><%- product.product_name %></h5>
                            <p class="price" style="color: green;">$<%- product.price%></p>
                            </a>
                            <p>Remaining units: <%- product.amount%></p>
                            <a href="/addToCart/<%- product._id %>" ><button>Add to Cart</button></a>
                        </div>
                    </div>
                <% }) %>
                <% } else { %>
                    <h1 align="center">No Products Found!</h1>
                <% } %>
            </div>
            <%- include('../includes/end.ejs') %>